// body {
//   font-family: Arial, sans-serif;
//   line-height: 1.6;
//   margin: 0;
//   padding: 0;
//   background-color: #f4f4f4;
// }

// .container {
//   max-width: 600px;
//   margin: 20px auto;
//   background-color: #fff;
//   padding: 20px;
//   border-radius: 5px;
//   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
// }


.order-details {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.product-list {
  margin-top: 20px;
}

.product-item {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.product-item:last-child {
  border-bottom: none;
}

.product-name {
  font-weight: bold;
}

.email-footer {
  margin-top: 20px;
  text-align: center;
  color: #777;
}
