.btn-group-sm .btn {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: 1px solid #2B3D4F;
  &:hover, :active{
    color: white;
    background-color: #2B3D4F;
  }
}

/* Quando selezionato */
.btn-check:checked + .btn {
  color: white;
  background-color: #2B3D4F;
  border-color: #2B3D4F;
}

